<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>SenSaison</title>

  <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    
  <!-- Navbar css -->
    <link href="css/navbar.css" media="screen" rel="stylesheet" type="text/css" />


  <!-- Swatchbook -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Animated Swatch Book with CSS3 and jQuery" />
    <meta name="keywords" content="swatch book, css3, jquery, animated, rotation, transition, folding fan" />
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" type="text/css" href="Swatchbook/css/style3.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="Swatchbook/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="Swatchbook/js/jquery.swatchbookjs"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Google sign in -->
  	<meta name="google-signin-scope" content="profile email">
		<meta name="google-signin-client_id" content="helpful-binder-236118.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

  <!-- Navbar css -->
    <link href="css/navbar.css" media="screen" rel="stylesheet" type="text/css" />

  <!-- Google Maps -->
    <link rel="stylesheet" type="text/css" href="styles/googleMaps.css">

  </head>

  <body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
		<script type="text/javascript" src="Swatchbook/js/jquery.swatchbook.js"></script>
    {{{body}}}
  </body>
  
</html>
