<div class="wrap">
  <nav>
		<ul class="menu">
            <!-- SUBMIT -->
      <li><a href="/home"><span class=""></span> Home</a></li>

            <!-- View individual updates -->
			<li><a href="/updates"><span class=""></span> Updates</a>
				<ul>
					<li><a href="#">Animals</a></li>
          <li><a href="#">Fungus</a></li>
          <li><a href="#">Land & Water</a></li>
					<li><a href="#">Plants</a></li>
					<li><a href="#">Weather</a></li>
				</ul>
      </li>

      <!-- SUBMIT -->
      <li><a href="/useraccount"><span class=""></span> Download Data</a></li>
      
      <!-- Map -->
			<li><a href="/map"><span class=""></span> Map</a></li>
      
      <!-- US -->
			<li><a href="/contact"><span class=""></span> Contact</a>
				<ul>
					<li><a href="#">Stefan</a></li>
					<li><a href="#">Auri</a></li>
					<li><a href="#">Catherine</a></li>
					<li><a href="#">Julie</a></li>
				</ul>
			</li>
		</ul>
        <div class="clearfix"></div>
	</nav>
</div>

    <!-- SWITCHBOOK BODY -->
    <section class="main">
			
        <div id="sb-container" class="sb-container">
        
            <div>
                <span class="sb-icon icon-cog"></span>
                <h4><span>Weather</span></h4>
            </div>
            <div>
                <span class="sb-icon icon-flight"></span>
                <h4><span>Plants</span></h4>
            </div>	
            <div>
                <span class="sb-icon icon-eye"></span>
                <h4><span>Land & Water</span></h4>
            </div>	
            <div>
                <span class="sb-icon icon-install"></span>
                <h4><span>Fungus</span></h4>
            </div>	
            <div>
                <span class="sb-icon icon-bag"></span>
                <h4><span>Animals</span></h4>
            </div>	
            <div>
                <h4><span>View Latest Submissions</span></h4>
                <span class="sb-toggle">Click to open/close</span>
            </div>
            
            
        </div><!-- sb-container -->
        
    </section>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Here are the latest submitions</h4>
          <p class="left-align light"> Description tidbit here and there blah blah</p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Group Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Montes nascetur ridiculus mus mauris vitae. Tincidunt ornare massa eget egestas purus viverra accumsan in.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->

		<script type="text/javascript">
			$('#document').ready(function() {
			
				$('#sb-container').swatchbook( {
					// number of degrees that is between each item
					angleInc : 30,
					neighbor : 15,
					// if it should be closed by default
					initclosed : true,
					// index of the element that when clicked, triggers the open/close function
					// by default there is no such element
					closeIdx : 5
        } );
        
        var randomNumber = Math.floor(Math.random() * 11) + 1;
	      $('#sb-container div:last-child').addClass('img'+randomNumber);
			
			});
		</script>