<div class="wrap">
  <nav>
		<ul class="menu">
            <!-- Home -->
			<li><a href="/home"><span class=""></span> Home</a></li>
            <!-- View individual updates -->
			<li><a href="/updates"><span class=""></span> Updates</a>
				<ul>
					<li><a href="#">Animals</a></li>
          			<li><a href="#">Fungus</a></li>
          			<li><a href="#">Land & Water</a></li>
					<li><a href="#">Plants</a></li>
					<li><a href="#">Weather</a></li>
				</ul>
            </li>
            <!-- SUBMIT -->
            <li><a href="/useraccount"><span class=""></span> Download Data</a></li>

			      <!-- SUBMIT -->
      <li><a href="/map"><span class=""></span> Map</a></li>

            <!-- US -->
			<li><a href="/contact"><span class=""></span> Contact</a>
				<ul>
					<li><a href="#">Stefan</a></li>
					<li><a href="#">Auri</a></li>
					<li><a href="#">Catherine</a></li>
					<li><a href="#">Julie</a></li>
				</ul>
			</li>
		</ul>
        <div class="clearfix"></div>
	</nav>
</div>

<h1>I'm testing maps.</h1>
    <div class="mapDisplayed" id="map"></div>
