<div class="wrap">
  <nav>
		<ul class="menu">
            <!-- Home -->
			<li><a href="/home"><span class=""></span> Home</a></li>
            <!-- View individual updates -->
			<li><a href="/updates"><span class=""></span> Updates</a>
				<ul>
					<li><a href="#">Animals</a></li>
          <li><a href="#">Fungus</a></li>
          <li><a href="#">Land & Water</a></li>
					<li><a href="#">Plants</a></li>
					<li><a href="#">Weather</a></li>
				</ul>
            </li>
            <!-- SUBMIT -->
            <li><a href="/useraccount"><span class=""></span> Download Data</a></li>
            <!-- Map -->
			<li><a href="/map"><span class=""></span> Map</a>
			</li>
            <!-- US -->
			<li><a href="/contact"><span class=""></span> Contact</a>
				<ul>
					<li><a href="#">Stefan</a></li>
					<li><a href="#">Auri</a></li>
					<li><a href="#">Catherine</a></li>
					<li><a href="#">Julie</a></li>
				</ul>
			</li>
		</ul>
        <div class="clearfix"></div>
	</nav>
</div>

    <!-- MAIN -->
  <div id="index-banner" class="success">
    <div class="section no-pad-bot">
      <div class="container">

      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>




  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Group Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Montes nascetur ridiculus mus mauris vitae. Tincidunt ornare massa eget egestas purus viverra accumsan in.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>