<div class="wrap">
  <nav>
		<ul class="menu">
            <!-- Home -->
			<li><a href="/home"><span class=""></span> Home</a></li>
            <!-- View individual updates -->
			<li><a href="/updates"><span class=""></span> Updates</a>
				<ul>
					<li><a href="#">Animals</a></li>
          <li><a href="#">Fungus</a></li>
          <li><a href="#">Land & Water</a></li>
					<li><a href="#">Plants</a></li>
					<li><a href="#">Weather</a></li>
				</ul>
            </li>
            <!-- SUBMIT -->
            <li><a href="/useraccount"><span class=""></span> Download Data</a></li>
            <!-- Map -->
			<li><a href="/map"><span class=""></span> Map</a>
			</li>
            <!-- US -->
			<li><a href="/contact"><span class=""></span> Contact</a>
				<ul>
					<li><a href="#">Stefan</a></li>
					<li><a href="#">Auri</a></li>
					<li><a href="#">Catherine</a></li>
					<li><a href="#">Julie</a></li>
				</ul>
			</li>
		</ul>
        <div class="clearfix"></div>
	</nav>
</div>

    <!-- MAIN -->
  <div id="index-banner" class="success">
    <div class="section no-pad-bot">
      <div class="container">

      </div>
    </div>
  </div>


  <div class="container center-align">
    <div class="section">
      <h3>Your account</h3>
      <br>
      <div class="row">
        <button class="btn waves-effect waves-light">Add new observation</button>
        <button class="btn waves-effect waves-light">View all your observations</button>
      </div>
      <br>
      <div class="row hidden" id="add-observation-div">

        <div class="col s12 center">
        <h5>Add new observation</h5>
        <br>

          <form action="#">
            <div class="row">
              <div class="input-field col s4">
                <label for="date">Date of observation*</label>
                <input type="text" class="datepicker" id="date">
              </div>

              <div class="input-field col s4">
                <label for="time">Time of observation*</label>
                <input type="text" class="timepicker" id="time">
              </div>

              <div class="input-field col s4">
                <label for="obstype">Type of observation*</label>
                <select id="obstype">
                  <option value="" disabled selected>Choose an option</option>
                  <option value="animal">Animal</option>
                  <option value="plant">Plant</option>
                  <option value="fungus">Fungus</option>
                  <option value="weather">Weather</option>
                  <option value="land_water">Land or water</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <label for="shortdesc">Brief description of observation*</label>
                <textarea id="shortdesc" class="materialize-textarea" data-length="50"></textarea>
              </div>

              <div class="col s6">
                <label for="googlemap">Location of observation*</label>
                <!-- GOOGLE MAP HERE -->
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <label for="longdesc">Extended description of observation</label>
                <textarea id="longdesc" class="materialize-textarea" data-length="500"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <label for="first-confidence">Confidence that your observation is the first of its type in your area*</label>
                <select id="first-confidence">
                  <option value="1" selected>1 - low confidence</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 - high confidence</option>
                </select>
              </div>
            </div>

            <br><br>
            <div class="row">
              <div class="file-field input-field col s6">
                <div class="btn btn-small">
                  <span>Upload</span>
                  <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload one or more pictures*">
                </div>
              </div>
            </div>

            <div class="row">
              <p><i>This section is required if you selected animal, plant, or fungus.</i></p>
              <div class="input-field col s4">
                <label for="species">Species common name*</label>
                <input type="text" id="species" data-length="50">
              </div>

              <div class="input-field col s4">
                <label for="speciessciname">Species scientific name (if known)</label>
                <input type="text" id="speciessciname" data-length="50">
              </div>

              <div class="input-field col s4">
                <label for="species-confidence">Species ID confidence*</label>
                <select id="species-confidence">
                  <option value="1" selected>1 - low confidence</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 - high confidence</option>
                </select>
              </div>
            </div>

            <br>
            <div class="row">
              <button class="btn waves-effect waves-light btn-large" type="submit" id="submit">Submit
              </button>     
            </div>

          </form>

        </div>
      </div>

      <div class="row hidden" id="view-your-observations-div">
        <div class="col s12 center">
          <h5>All your observations</h5>
          <br>
          <table>
            <thead>
              <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Brief description</th>
                <th>Delete</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>01/01/1990</td>
                <td>Animal</td>
                <td>First Canada geese this spring</td>
                <td><button class="btn waves-effect waves-light btn-small" id="delete">X</button></td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
      <br><br>
      <div class="row">
        <button class="waves-effect waves-teal btn-flat" id="backtotop" href="#">Back to top</button>
      </div>

    </div>
  </div>



  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Group Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque. Montes nascetur ridiculus mus mauris vitae. Tincidunt ornare massa eget egestas purus viverra accumsan in.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
