/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.success {
line-height: 0;
height: auto;
color: rgba(255,255,255,.9);
position: relative;
overflow: hidden;
}

/* Home Screen after sign in */
 /* hide/show effects for personal account page */

.hidden {
   display: none;
}

.show {
   display: block;
 }



 .icon-block img {
   width:51px;
   height: 51px;
   display: block;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
 }
}

 /* make table more compact */
td, th {
    padding: 5px;
}

.btn-small {
    height: 25px;
    line-height: 25px;
    padding: 0 12px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea, .input-field>label {
  font-size: 95%;
}

textarea.materialize-textarea {
  padding: 0.7rem 0;
}

.input-field {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

::placeholder {
   font-size: 85%;
}

.dropdown-content li {
   line-height: 1rem;
   min-height: auto;
}

.dropdown-content li>a, .dropdown-content li>span {
   padding: 7px 10px;
   font-size: 95%;
}

.select-wrapper input.select-dropdown {
  /* padding-top: 1rem; */
  font-size: 95%;
}

.row {
  margin-bottom: 15px;
}

.pagination li {
  padding: 0 5px;
}

.pagination li.active a {
  color: #343434;
}

.pagination li.active {
  background-color: #DFDFDF;
}

table {
  font-size: 95%;
  width: 100%;
}

td.desc-cell {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
