/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.success {
line-height: 0;
height: auto;
color: rgba(255,255,255,.9);
position: relative;
overflow: hidden;
}

/* Home Screen after sign in */
 /* hide/show effects for personal account page */

 .hidden {
   display: none;
 }

 .show {
   display: block;
 }



 .icon-block img {
   width:51px;
   height: 51px;
   display: block;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
 }