/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.success {
line-height: 0;
height: auto;
color: rgba(255,255,255,.9);
position: relative;
overflow: hidden;
}

/* Home Screen after sign in */
 /* hide/show effects for personal account page */

 .hidden {
   display: none;
 }

 .show {
   display: block;
 }

 /* make table more compact */
 td, th {
    padding: 5px;
 }

 .btn-small {
    height: 25px;
    line-height: 25px;
    padding: 0 12px;
 }

 .input-field {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
 }